:root {
  --ff-heading: 'Epilogue', sans-serif;
  --ff-texting: 'Open sans', sans-serif;


  --hue: 531;
  --bg-primary: hsl(var(--hue), 22%, 20%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-secondary-dark: hsl(var(--hue), 100%, 11%, 1);

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: 4rem;
}

body {
  font-family: var(--ff-texting);
  color: var(--fc-primary);
  background-color: var(--bg-primary);
}

.page {
  max-width: 33rem;
  margin: 0 auto;
}

@media (min-width: 700px) {
  :root {
    --fs-heading: 5.6rem;

  }

  .page {
    max-width: 117rem;
    padding: 0 5rem;
  }

  main {
    grid-template-areas: "A B B"
    "C C D";
  }

  main div:first-child {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: C;
  }

  main div:nth-child(4) {
    grid-area: D;
  }
}

img {
  width: 100%;
  height: auto;
}

header {
  font-family: var(--ff-heading);
  margin: 10rem 0 8rem;
  text-align: center;
}

header p {
  color: var(--fc-secondary);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1.7rem;
  line-height: 3.2rem;
  font-weight: 400;
}

header h1 {
  font-size: var(--fs-heading);
  line-height: 4.8rem;
  font-weight: 800;
}

main {
  display: grid;
  gap: 3.2rem;
  margin-bottom: 5rem;
}

.card {
  position: relative;
  font-family: var(--ff-heading);
}

.card img {
  height: 41.6rem;
  opacity: 0.6;
  object-fit: cover;
  border-radius: 6px;
  transition: opacity;
  transition-duration: 550ms;
  filter: saturate(2);
}

.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;

  font-size: 4rem;
  font-weight: 800;

  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.card h2 span {
  border-radius: 2rem;
  background-color: var(--fc-primary);
  font-size: var(--fs-body);
  font-weight: 400;
  color: var(--fc-secondary-dark);
  padding: 0 1.6rem 0;
  height: 3.8rem;

  display: flex;
  align-items: center;
  width: fit-content;
}

img:hover {
  opacity: 1;
}

.card:hover {
  transform: scale(1.1);
  opacity: 1;
}

.card {
  transition-property: transform opacity;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(.65,.05,0,.95);
}


header {
  animation-name: topdown;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(.65,.05,0,.95);
}

main div:first-child {
  animation-name: left-to-right;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(.65,.05,0,.95);
}

main div:nth-child(2) {
  animation-name: right-to-left;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(.65,.05,0,.95);
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}

main div:nth-child(3) {
  animation-name: left-to-right;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(.65,.05,0,.95);
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

main div:nth-child(4) {
  animation-name: right-to-left;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(.65,.05,0,.95);
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}


@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-120px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-120px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
} 